#h1
{
 font-size:10mm;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#id1
{
    margin-left: 50px;
    background-color: rgba(124, 121, 121, 0.467);
}
id2
{
    background-color: rgba(225, 204, 204, 0.467);
}
